div(class='fake-header')

header
  a(href='#') #[h1='jslang']
  
  a(href='#') #[span='About']

section(class='well')

  input(placeholder='Enter English, Japanese, Romaji, Words or Text')

  ul
    li #[i(class='fa fa-times')]
    li #[i(class='fa fa-search')]
